@model IEnumerable<ProjectManagement.Models.Notification>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isImportant)
            </th>
            <th>
                User
            </th>
            <th>
                User
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNotification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isImportant)
            </td>
            <td>
                @item.User.UserName
            </td>
            <td>
                @item.Project.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNotification)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-controller="Home" asp-action="AllProjects">Back home</a>
</p>
