@model IEnumerable<ProjectManagement.Models.Project>

@{
    ViewData["Title"] = "Developer All Projects";
}

<h1>Projects by Developer</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description Project
            </th>
            <th>
                Date Start
            </th>
            <th>
               Deadline
            </th> 
            
            <th>
                 Priority
            </th>   
             <th>
                Actions
            </th>
             <th>   
             </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBegin)
                </td>
                <td>
                 @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
               
                  <td>
                    @if ((int)item.ProjectPriority == 0)
                    {
                        <div style="color : red" >
                            @Html.DisplayFor(modelItem => item.ProjectPriority)

                        </div>
                    }
                    @if ((int)item.ProjectPriority == 1)
                    {
                        <div style="color : orange" >
                            @Html.DisplayFor(modelItem => item.ProjectPriority)

                        </div>
                    }
                    @if ((int)item.ProjectPriority == 2)
                    {
                        <div style="color : greenyellow" >
                            @Html.DisplayFor(modelItem => item.ProjectPriority)

                        </div>
                    }

                </td>
               
                <td>
                    <a style="text-decoration:none" asp-action="TasksProjectDev" asp-route-projectId="@item.Id"  asp-route-userName="@ViewBag.UserLogged">Tasks List</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-controller="Home" asp-action="Index">Back home</a>
</p>



