@model IEnumerable<ProjectManagement.Models.Project>

@{
    ViewData["Title"] = "Manage All Projects";
}


<h1>Manage all Projects </h1>

<p>
    <a style="text-decoration:none" asp-controller="Project" asp-action="AddProject">Create a New Project</a>
  
</p>

<p>
      <a style="text-decoration:none" asp-controller="UserManager" asp-action="Index">Manage Users</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description Project
            </th>
            <th>
                Date Start
            </th>
            <th>
               Deadline
            </th> 
            <th>
                 @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th>
                 Priority
            </th>   
            
            <th>
                  Completed
             </th>
               
             <th>
                Actions
            </th>
             <th>   
             </th>
             <th>   
             </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                       @DateOnly.FromDateTime(@item.DateBegin)
                    
                </td>
                <td>
                       @DateOnly.FromDateTime(@item.DateEnd)
                </td>
                <td>
                 $@Html.DisplayFor(modelItem => item.Budget)
                </td>
                 <td>
                    @if ((int)item.ProjectPriority == 0)
                    {
                        <div style="color : red" >
                            @Html.DisplayFor(modelItem => item.ProjectPriority)

                        </div>
                    }
                    @if ((int)item.ProjectPriority == 1)
                    {
                        <div style="color : orange" >
                            @Html.DisplayFor(modelItem => item.ProjectPriority)

                        </div>
                    }
                    @if ((int)item.ProjectPriority == 2)
                    {
                        <div style="color : greenyellow" >
                            @Html.DisplayFor(modelItem => item.ProjectPriority)

                        </div>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.CompletedPercentage)%

                </td>
                   
                <td>
                    <a style="text-decoration:none" asp-controller="Project" asp-action="UpdateProject" asp-route-Id="@item.Id">Update </a>
                </td>
                <td>
                    <a style="text-decoration:none" asp-controller="Project" asp-action="DeleteProject" asp-route-projectId="@item.Id">Delete</a>
                </td>
                <td>
                    <a style="text-decoration:none" asp-action="TasksProject" asp-route-projectId="@item.Id">Tasks</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-controller="Home" asp-action="Index">Back home</a>
</p>



