@using ProjectManagementPagination
@model PaginatedList<ProjectManagement.Models.Project>

@{
    ViewData["Title"] = "Manage All Projects";
}


<h1>Manage all Projects </h1>

<p>
    <a style="text-decoration:none" asp-controller="Project" asp-action="AddProject">Create a New Project</a>
  
</p>

<p>
      <a style="text-decoration:none" asp-controller="UserManager" asp-action="Index">Manage Users</a>
</p>


<form asp-action="Index1" method="get">
    <div class="form-actions no-color">
        <p>
            Find by text: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" /> 
            <a asp-action="AllProjects">Back to Full Page List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>

             <th>
                Title
            </th>
            <th>
                Description Project
            </th>
            <th>
                <a asp-action="Index1" asp-route-sortOrder="@ViewData["TasksSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Tasks</a>
            </th>
            <th>
                List
            </th>
           
            <th>
                <a asp-action="Index1" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Date Begin</a>
            </th>
              <th>
                <a asp-action="Index1" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Date Ends</a>
            </th>

            <th>
                <a asp-action="Index1" asp-route-sortOrder="@ViewData["BudgetSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Budget</a>
            </th>
            <th>
                 <a asp-action="Index1" asp-route-sortOrder="@ViewData["PrioritySortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Priority</a>
            </th>   
            
            <th>
                <a asp-action="Index1" asp-route-sortOrder="@ViewData["CompletedSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Advance</a>
             </th>
               
             <th>
                Actions
            </th>
             <th>   
             </th>
             <th>   
             </th>
        </tr>
    </thead>
     <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Tasks.Count)
                </td>
                <td>
                    <a style="text-decoration:none" asp-action="TasksProject" asp-route-projectId="@item.Id">Tasks</a>
                </td>
                <td>
                       @DateOnly.FromDateTime(@item.DateBegin)
                    
                </td>
                <td>
                       @DateOnly.FromDateTime(@item.DateEnd)
                </td>
                <td>
                 $@Html.DisplayFor(modelItem => item.Budget)
                </td>
                 <td>
                    @if ((int)item.ProjectPriority == 0)
                    {
                        <div style="color : red" >
                            @Html.DisplayFor(modelItem => item.ProjectPriority)

                        </div>
                    }
                    @if ((int)item.ProjectPriority == 1)
                    {
                        <div style="color : orange" >
                            @Html.DisplayFor(modelItem => item.ProjectPriority)

                        </div>
                    }
                    @if ((int)item.ProjectPriority == 2)
                    {
                        <div style="color : greenyellow" >
                            @Html.DisplayFor(modelItem => item.ProjectPriority)

                        </div>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.CompletedPercentage)%

                </td>
                   
                <td>
                    <a style="text-decoration:none" asp-controller="Project" asp-action="UpdateProject" asp-route-Id="@item.Id">Update </a>
                </td>
                <td>
                    <a style="text-decoration:none" asp-controller="Project" asp-action="DeleteProject" asp-route-projectId="@item.Id">Delete</a>
                </td>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-controller="Home" asp-action="Index">Back home</a>
</p>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index1"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index1"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>