@model Project

@{
    ViewData["Title"] = "TaskProjects";

}

    <h5>Title</h5>
    <p>
        @Model.Name
    </p>
    <h4>Project </h4>
    <p>
        @Model.Content
 
    </p>
    <p>
        <a asp-controller="Project" asp-action="AddTask" asp-route-projectId="@Model.Id">Add New Task to This Project</a>
    </p>
   
    <table class="table">
        <thead>
            <tr>
                <th>
                    Description Task
                </th>
                <th>
                    Date
                </th>
                <th>
                    User
                </th>
                <th>
                    Percentage Completed
                </th>
                <th>
                    Priority
                </th>
              
                <th>
                    Select 1
                </th>
                 <th>
                    Select 2
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Tasks)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Content
                    </td>
                    <td>
                        @item.DateBegin
                    </td>
                    <td>
                        @item.DateEnd
                    </td>
                    <td>
                        @if(@item.IsFinished)
                        {
                            <button type="submit" asp-action="" method="post" asp-route-taskId="@item.Id">✌️</button>
                        }
                        
                    </td>
                   
@*                    <td>
                        <input type="submit" asp-controller="Home" type="submit" asp-action="" method="post" asp-route-taskId="@item.Id" asp-route-answerId="@item.Id">
                       
                    </td>
                    <td>
                        <a asp-controller="Home" type="submit" asp-action="FinishedTask" method="post" asp-route-taskId="@a.Id" asp-route-answerId="@item.Id" >⏳</a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>

    <p>
    <a asp-controller="Home" asp-action="Index">Back home</a>
    </p>
