@model IEnumerable<ProjectManagement.Models.Project>

@{
    ViewData["Title"] = "TaskProjects";

}

@foreach (var a in Model)
{


    <h5>Title</h5>
    <p>
        @a.Name
    </p>
    <h4>Project </h4>
    <p>
        @a.Content

    </p>
    <p>
        <a asp-controller="Project" asp-action="AddTask" asp-route-projectId="@a.Id" method="post">Add new Task to This Project</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                  <th>
                    Title
                </th>
                <th>
                    Description Task
                </th>
                <th>
                    Date Begin
                </th>
                <th>
                    Deadline
                </th>
                <th>
                    User Assigned
                </th>
                <th>
                   % Completed
                </th>
                <th>
                    Priority
                </th>
                <th>
                    It is a Task Finished
                </th>
                <th>
                    Select 2
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in a.Tasks)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Content
                    </td>
                    <td>
                        @item.DateBegin
                    </td>
                    <td>
                        @item.DateEnd
                    </td>
                     <td>
                        @item.User
                    </td>
                     <td>
                        @item.CompletedPercentage 
                    </td>
                     <td>
                        @item.TaskPriority
                    </td>
                    <td>
                        @if (@item.IsFinished)
                        {
                            <button type="submit" asp-action="" method="post" asp-route-taskId="@item.Id">✌️</button>
                        }

                    </td>
                    <td>
                        <a asp-controller="Project" asp-action="UpdateTask" asp-route-taskId="@item.Id">Update</a>
                    </td>
                    <td>
                        <a asp-controller="Project" asp-action="DeleteTask" asp-route-taskId="@item.Id">Delete</a>
                    </td>
                    <td>
                        <a style="text-decoration:none" asp-action="TasksProject" asp-route-projectId="@item.Id">Tasks</a>
                    </td>

                    <td>
                        <input type="submit" asp-controller="Home" type="submit" asp-action="" method="post" asp-route-taskId="@a.Id" asp-route-answerId="@item.Id">

                    </td>
                    <td>
                        <a asp-controller="Home" type="submit" asp-action="FinishedTask" method="post" asp-route-taskId="@a.Id" asp-route-answerId="@item.Id">⏳</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
}
<p>
    <a asp-controller="Home" asp-action="AllProjects">Back to list</a>
</p>
