@model Project

@{
    ViewData["Title"] = "TaskProjectDevelopers";

}
<h1>All Tasks by Project by developer</h1>


<h5>Title Project</h5>
<p>
    @Model.Name
</p>
<h5>Content Project </h5>
<p>
    @Model.Content

</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description Task
            </th>
            <th>
                Date Begin
            </th>
            <th>
                Deadline
            </th>
            <th>
                User Assigned
            </th>
            <th>
                Completed
            </th>
            <th>
                Priority
            </th>
            <th>
                Status
            </th>
            <th>
                 Increase 
                 Advance
            </th>
            <th>
              
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Tasks)
        {
            if(item.User.Email == @ViewBag.UserLogged)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Content
                    </td>
                    <td>
                        @item.DateBegin
                    </td>
                    <td>
                        @item.DateEnd
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.CompletedPercentage %
                    </td>
                    <td>
                        @item.TaskPriority
                    </td>
                    <td>
                        @if (@item.IsFinished)
                        {

                            <p>Completed</p>


                        }


                    </td>

                    @if (item.CompletedPercentage < 100)
                    {
                        <td>

                            <form asp-action="IncreaseAdvance"
                      asp-controller="Project"
                      name="projectId"
                      asp-route-projectId="@Model.Id"
                      asp-route-taskId="@item.Id"
                      method="post">
                                <input type="number" name="valuePercentage" maxlength="4" min="1" max="100" />
                                <button type="submit">Submit %</button>
                            </form>
                        </td>
                    }

                    <td>



                    </td>
                </tr>
                
            }
        }
    </tbody>
</table>

<p>
    <a asp-controller="Home" asp-action="AllProjectsDev">Back to List</a>
</p>
