@model Project

@{
    ViewData["Title"] = "TaskProjects";

}

    <h5>Title</h5>
    <p>
        @Model.Name
    </p>
    <h4>Project </h4>
    <p>
        @Model.Content
    </p>
@if (@Model.Notifications.Any())
{
    <h4>Notifications</h4>
    <a style="text-decoration:none" asp-controller="Notification" asp-action="Details" asp-route-projectId="@Model.Id">You have @Model.Notifications.Count() notifications</a>
}
<p>
        <a asp-controller="Project" asp-action="AddTask" asp-route-projectId="@Model.Id">Add New Task to This Project</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                  <th>
                    Title
                </th>
                <th>
                    Description Task
                </th>
                <th>
                    Date Begin
                </th>
                <th>
                    Deadline
                </th>
                <th>
                    User Assigned
                </th>
                <th>
                   % Completed
                </th>
                <th>
                    Priority
                </th>
                <th>
                    It is a Task Finished
                </th>
                <th>
                    Select 2
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Tasks)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Content
                    </td>
                    <td>
                        @item.DateBegin
                    </td>
                    <td>
                        @item.DateEnd
                    </td>
                     <td>
                        @item.UserName
                    </td>
                     <td>
                        @item.CompletedPercentage 
                    </td>
                     <td>
                        @item.TaskPriority
                    </td>
                    <td>
                        @if (@item.IsFinished)
                        {
                            <button asp-controller="Project"  type="submit" asp-action="TaskCompleted" method="post" asp-route-taskId="@item.Id">👍</button>
                        }

                    </td>
                   
                     <td>
                       
                       
                    </td>
                    <td>
                        <button asp-controller="Project" type="submit" asp-action="IncreaseAdvance" method="post" asp-route-taskId="@item.Id" >⏳</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
    <a asp-controller="Home" asp-action="AllProjects">Back to List</a>
    </p>
