@model Project

@{
    ViewData["Title"] = "TasksProject";

}
<h1>Tasks Details by Project</h1>

@if (@Model.Notifications.Any())
{
    <a class="btn btn-primary" style="text-decoration:none; border:thick; color: yellow" asp-controller="Notification" asp-action="Details" asp-route-projectId="@Model.Id">You have @Model.Notifications.Count() notifications</a>

}
<h5>Project</h5>
<p>

    @Model.Name
</p>
<h5>Description </h5>
<p>
    @Model.Content

</p>

<form asp-action="TasksProject" method="get">
    <select name="orderMethod" asp-items="ViewBag.OrderOptions"></select>
    <button type="submit">Sort</button>

</form>
<p>
    <a class="btn btn-primary" asp-controller="Project" asp-action="AddTask" asp-route-projectId="@Model.Id">Add New Task to Project</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description Task
            </th>
            <th>
                Date Begin
            </th>
            <th>
                Deadline
            </th>
            <th>
                User Assigned
            </th>
            <th>
                Completed
            </th>
            <th>
                Priority
            </th>
            <th>
                Enter %
                Advance

            </th>
            <th>
                Status
            </th>
            <th>
                Comment
            </th>
             <th>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Tasks)
        {
            <tr>
                <td>
                    @if (@item.IsFinished)
                    {
                        <div style="color: lightgray">
                            @item.Title
                        </div>
                    }
                    else
                    {
                        @item.Title
                    }


                </td>
                <td>
                    @if (@item.IsFinished)
                    {
                        <div style="color: lightgray">
                            @item.Content
                        </div>
                    }
                    else
                    {
                        @item.Content
                    }
                </td>
                <td>
                    @if (@item.IsFinished)
                    {
                        <div style="color: lightgray" >
                            @DateOnly.FromDateTime(@item.DateBegin)
                        </div>
                    }
                    else
                    {
                        @DateOnly.FromDateTime(@item.DateBegin)
                    }
                </td>
                <td>
                    @if (@item.IsFinished)
                    {
                        <div style="color: lightgray">
                        @DateOnly.FromDateTime(@item.DateEnd)
                        </div>
                    }
                    else
                    {
                        @DateOnly.FromDateTime(@item.DateEnd)
                    }
                </td>
                <td>
                    @if (@item.IsFinished)
                    {
                        <div style="color : lightgray">
                            @item.UserName
                        </div>
                    }
                    else
                    {
                        @item.UserName
                    }
                </td>
                <td>
                    @if (@item.IsFinished)
                    {
                        <div style="color : lightgray; align-content:center">
                            @item.CompletedPercentage%
                        </div>
                    }
                    else
                    {
                        <div>

                            @item.CompletedPercentage%
                        </div>

                    }
                </td>
                <td>
                    @if (@item.IsFinished)
                    {
                        <div style="color : lightgray">
                            @Html.DisplayFor(modelItem => item.TaskPriority)

                        </div>
                    }
                    else
                    {
                        @if ((int)item.TaskPriority == 0)
                        {
                            <div style="color : red">
                                @Html.DisplayFor(modelItem => item.TaskPriority)

                            </div>
                        }
                        @if ((int)item.TaskPriority == 1)
                        {
                            <div style="color : darkorange">
                                @Html.DisplayFor(modelItem => item.TaskPriority)

                            </div>
                        }
                        @if ((int)item.TaskPriority == 2)
                        {
                            <div style="color : greenyellow">
                                @Html.DisplayFor(modelItem => item.TaskPriority)

                            </div>
                        }
                    }
                    </td>
                    <td>
                    @if (item.CompletedPercentage < 100)
                    {
                   

                        <form asp-action="IncreaseAdvance" 
                      asp-controller="Project"
                      name="projectId"
                      asp-route-projectId="@Model.Id"
                      asp-route-taskId="@item.Id"
                      method="post">
                            <input type="number" name="valuePercentage" maxlength="18" min="1" max="100" />
                            <button  type="submit">Apply</button>
                        </form>
                   
                    }
                    else
                    {
                    <p> </p>
                    }
                     </td>




                     <td>
                        @if (@item.IsFinished)
                        {
                        <p style="color : darkred; font-style: italic">Completed</p>
                        }
                        else
                        {

                        <p style="color : blue; font-style: italic">In process</p>

                        }

                     </td>
                     <td>
                            @if (@item.IsFinished)
                        {
                        <p style="color : darkred; font-style: italic">@item.Comment</p>
                        }
                        else
                        {

                        <p style="color : blue; font-style: italic"></p>

                        }


                    </td>


                    <td>
                    @if (item.CompletedPercentage == 100)
                    {<form asp-action="EnterComment"
                      asp-controller="Project"
                      name="taskId"
                      asp-route-projectId="@Model.Id"
                      asp-route-taskId="@item.Id"
                      method="post">
                            <input type="text" name="finalComment" class="form-control" />
                            <button type="submit">Comment</button>
                        </form>
                  
                    }
                      </td>

               
                
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-controller="Home" asp-action="AllProjects">Back to List</a>
</p>
